<!DOCTYPE html>
<head>
    <link href="/css/simple.css" rel="stylesheet">
</head>
<body>
    <h2>Add a new Product</h2>
    <form action="/products/add" method="post">
        <label for="id">Product id:</label><br>
        <input type="text" id="id" name="id" value="003"><br>
        <label for="name">Product name:</label><br>
        <input type="text" id="name" name="unitName" value="mac book pro"><br>
        <label for="price">Product price:</label><br>
        <input type="text" id="price" name="unitPrice" value="999"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>